ansible==2.2.1.0
ansible-lint==3.4.12
anyconfig==0.7.0
appdirs==1.4.3
arrow==0.10.0
asn1crypto==0.22.0
binaryornot==0.4.0
cffi==1.10.0
chardet==2.3.0
click==6.7
colorama==0.3.7
configparser==3.5.0
cookiecutter==1.4.0
cryptography==1.8.1
enum34==1.1.6
flake8==3.0.4
future==0.16.0
idna==2.5
ipaddress==1.0.18
Jinja2==2.8.1
jinja2-time==0.2.0
MarkupSafe==1.0
mccabe==0.5.3
molecule==1.23.0
packaging==16.8
paramiko==2.1.2
pbr==1.10.0
pexpect==4.2.1
poyo==0.4.1
ptyprocess==0.5.1
py==1.4.33
pyasn1==0.2.3
pycodestyle==2.0.0
pycparser==2.17
pycrypto==2.6.1
pyflakes==1.2.3
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.0
python-vagrant==0.5.14
PyYAML==3.12
sh==1.11
six==1.10.0
tabulate==0.7.5
testinfra==1.5.4
whichcraft==0.4.0
