---
# tasks file for ansible-osx-command-line-tools

- name: Am I running on Mac OS X?
  fail:
    msg: Target host is not running Mac OS X
  when: ansible_distribution != 'MacOSX'

- name: Remove existing Command Line Tools installation
  file:
    path: '{{ clt_path }}'
    state: absent
  when: force_install
  become: yes

- name: Check that the Command Line Tools path is present
  stat:
    path: '{{ clt_path }}'
  register: clt

- name: Is the C++ compiler useable?
  command: g++ --version
  register: compiler
  check_mode: no
  ignore_errors: true
  changed_when: false

- name: Check the Command Line Tools package metadata
  command: pkgutil --pkg-info=com.apple.pkg.CLTools_Executables
  register: pkg_info
  check_mode: no
  ignore_errors: true
  changed_when: false

- name: Prepare to install Command Line Tools
  file:
    path: /tmp/.com.apple.dt.CommandLineTools.installondemand.in-progress
    state: touch
  when: pkg_info.rc != 0 or compiler.rc != 0 or not clt.stat.exists

- name: Check for Command Line Tools in Software Update list (MacOS < 10.15).
  shell: >
    set -o pipefail;
    softwareupdate -l |
    grep -B 1 -E 'Command Line Tools' |
    awk -F'*' '/^ +\*/ {print $2}' |
    sed 's/^ *//' |
    grep -iE '[0-9|.]' |
    sort |
    tail -n1
  args:
    executable: /bin/bash
  register: su_list_old
  when:
    - ansible_distribution_version is version('10.15', '<')
    - pkg_info.rc != 0 or compiler.rc != 0 or not clt.stat.exists
  changed_when: false
  failed_when: su_list_old.rc != 0 or su_list_old.stdout|length == 0

- name: Check for Command Line Tools in Software Update list (MacOS >= 10.15).
  shell: >
    set -o pipefail;
    softwareupdate -l |
    grep -B 1 -E 'Command Line Tools' |
    awk -F'*' '/^\*/ {print $2}' |
    sed 's/^ Label: //' |
    grep -iE '[0-9|.]' |
    sort |
    tail -n1
  args:
    executable: /bin/bash
  register: su_list_new
  when:
    - ansible_distribution_version is version('10.15', '>=')
    - pkg_info.rc != 0 or compiler.rc != 0 or not clt.stat.exists
  changed_when: false
  failed_when: su_list_new.rc != 0 or su_list_new.stdout|length == 0

- name: set su_list for (MacOS < 10.15).
  set_fact:
    su_list: "{{ su_list_old }}"
  when: su_list_old is not skipped

- name: set su_list for (MacOS >= 10.15).
  set_fact:
    su_list: "{{ su_list_new }}"
  when: su_list_new is not skipped

- name: Install Command Line Tools
  command: softwareupdate -i '{{ su_list.stdout }}'
  when: pkg_info.rc != 0 or compiler.rc != 0 or not clt.stat.exists
  notify:
    - Cleanup
  register: su_result
  failed_when: >-
    su_result.rc != 0 or
    'Error installing updates.' in su_result.stdout
